<footer class="site-footer">
  <small>
    Copyright © 2022 <a href="{{ pkg.repository.url }}" target="_blank">Pare English Course</a>.
    Website built with <a href="https://www.anticopyright.my.id/" target="_blank">anticopyright</a>.
  </small>
</footer>
